
@import 'styles';

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $primary-font-family;
  @include height-and-width(100%, 100% )
}

header {
  @include flex-container(center);
  height: 10%;
}

header, h1 {
  display: contents;

}

.hidden {
  display: none;
}

main {
  background-image: url('../images/loginPageTravel.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: scroll;
}

.login-area {
  @include flex-container(center);
  flex-direction: column;
  @include height-and-width(20%, 10%);
  margin: 2em;
  background-color: rgba(36, 27, 27, 0.2);
  z-index: 100;
    input {
      @include height-and-width(10%, 100%);
      border-bottom: 1px solid gray;
      border-radius: 1px;
      font: rgb(82, 76, 76);
      margin-top: 2em;
    }
}

// Traveler login Page
.traveler-login-page {
  @include flex-container(center);
  flex-direction: column;
  color: white;
  @include height-and-width(80%, 50%);
  margin: 2em;
  background-color: rgba(50, 46, 46, 0.906);
  z-index: 100;
  overflow: scroll;
    input {
      @include height-and-width(10%, 100%);
      border-bottom: 1px solid gray;
      border-radius: 1px;
      font: rgb(82, 76, 76);
      margin-top: 2em;
    }
    h3, h2 {
      @include height-and-width(8%, 100%);
      display: block;
      color: white;
      padding-left: .5em;
      padding-bottom: 1em;
    }
    // h4 {
    //   @include height-and-width(4%, 100%);
    //   display: block;
    //   color: white;
    //   padding-left: 1em;
    // }
    p {
      display: inline;
      color: white;
      padding-left: 1em;
    }
}

.display-traveler-costs {
  @include height-and-width(8%, 100%);
  display: block;
  color: white;
  padding-left: 1em;
  padding-bottom: 2em;
}

.display-destination-input {
   @include height-and-width(10%, 100%);
      border-bottom: 1px solid gray;
      border-radius: 1px;
      font: rgb(82, 76, 76);
      margin-top: 2em;
}

.img {
  @include height-and-width(50%, 50%)
}
